# {{ ansible_managed }}
{% set dc_net = spreadsheet_DC_networks %}
{% set lan_net = spreadsheet_Sites_networks %}
{% set cust_app = spreadsheet_Custom_identifier %}
---
{% set dnet= [] %}
dc_networks:
{% for net in dc_net if (net.DC_network|ipaddr) and (net.identifier) and (net.identifier not in dnet) %}
{{dnet.append(net.identifier)}}
  {{net.identifier}}
{% for i in dc_net if (i.identifier|lower==net.identifier|lower)%}
    - "{{i.DC_network|ipaddr}}"
{%endfor%}  
{% endfor                 %}
{% set lannet= [] %}
lan_networks:
{% for net in lan_net if (net.LAN_network|ipaddr) and (net.identifier) and (net.identifier not in lannet) %}
{{lannet.append(net.identifier)}}
  {{net.identifier}}
{% for i in lan_net if (i.identifier|lower==net.identifier|lower)%}
  - "{{i.LAN_network|ipaddr}}"
{% endfor %}
{% endfor                 %}
custom_apps:
{% set apps= [] %}
{% for srv in cust_app if (srv.Host_IP_address|ipaddr) and (srv.application_name) and (srv.application_name not in apps) %}
{{apps.append(srv.application_name)}}
  {{srv.application_name}}:
{% for i in cust_app if (i.application_name|lower==srv.application_name|lower) %}
    - "{{i.Host_IP_address|ipaddr}}"
{% endfor %}
{% endfor                   %}