# {{ ansible_managed }}
{% set dc_vlans = spreadsheet_DC_vlans_optional %}
{% set site_net = spreadsheet_Sites_networks %}
{% set cust_app = spreadsheet_Application_identifier %}
---
{% set sites_temp= [] %}
sites:
{% for net in site_net if (net.networks|ipaddr) and (net.site_identifier) and (net.site_identifier not in sites_temp) %}
{{sites_temp.append(net.site_identifier)}}
  {{net.site_identifier}}:
{% for i in site_net if (i.site_identifier|lower==net.site_identifier|lower) %}
    - "{{i.networks|ipaddr}}"
{% endfor %}
{% endfor                   %}
{% set dc_temp= [] %}
dc_vlans:
{% for net in dc_vlans if (net.DC_network|ipaddr) and (net.DC_vlan_name) and (net.DC_vlan_name not in dc_temp) %}
{{dc_temp.append(net.DC_vlan_name)}}
  {{net.DC_vlan_name}}:
{% for i in dc_vlans if (i.DC_vlan_name|lower==net.DC_vlan_name|lower) %}
    - "{{i.DC_network|ipaddr}}"
{% endfor %}
{% endfor                   %}
{% set app_temp= [] %}
applications:
{% for net in cust_app if (net.Host_IP_address|ipaddr) and (net.application_name) and (net.application_name not in app_temp) %}
{{app_temp.append(net.application_name)}}
  {{net.application_name}}:
{% for i in cust_app if (i.application_name|lower==net.application_name|lower) %}
    - { host_ip: "{{i.Host_IP_address|ipaddr}}"{%if i.lifecycle %}, lifecycle: "{{i.lifecycle}}"{%endif%}{%if i.cluster %}, cluster: "{{i.cluster}}"{%endif%}  }
{% endfor %}
{% endfor                   %}